<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">ADMIN Profile</h2>
                    </div>
                    <div class="card-body">
                        <h3><small class="text-muted">Last Login Activity</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Get date</li>
                        </ul>
                        <h3><small class="text-muted">Number of Registered Users</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>#</li>
                        </ul>
                        <h3><small class="text-muted">Inbox</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unread #</li>
                            <li>Read #</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Current Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>First Name:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getFirstName()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>Last Name:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getLastName()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>Email:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getEmail()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>Address:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getAddress()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>City:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getCity()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>Country:  </b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getCountry()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label><b>Postal Code:  </b></b></label>
                                </div>
                                <div class="col-md-4">
                                    <p th:text="${client.getPostalCode()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Registered Users List</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Name 1 </li>
                            <li>Email 1 </li>
                            <li>Name 2 </li>
                            <li>Email 2 </li>
                            <li>Name 3 </li>
                            <li>Email 3 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<h1 th:text="${client.toString()}">Dashboard</h1>-->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>