<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Message Inbox</h2>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ticket no.</th>
                                <th>Date Added</th>
                                <th>Subject</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="message : ${messages}">
                                <td th:text="${message.caseCode}"></td>
                                <td th:text="${message.dateAdded}"></td>
                                <td  th:text="${message.subject}">T</td>
                                <td>
                                    <a class="btn btn-secondary" th:href="@{/dashboard/inbox/view/{id}(id=${message.id})}">View</a>
                                    <a class="btn btn-warning" th:href="@{/dashboard/inbox/remove/{id}(id=${message.id})}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div th:if="${viewMessage != null}" class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Case #<span th:text="${viewMessage.caseCode}"></span></h2>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p><b>Date Added:</b></p>
                                <p th:text="${viewMessage.dateAdded}"></p>
                            </div>
                            <div class="col-12">
                                <p><b>Subject:</b></p>
                                <p th:text="${viewMessage.subject}"></p>
                            </div>
                            <div class="col-12">
                                <p><b>Message:</b></p>
                                <p th:text="${viewMessage.message}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-m-4">

        </div>
        <div class="col-m-4">

        </div>
        <div class="col-m-4">

        </div>
    </div>
</div>


<div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>