<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Send A Reply</h2>
                    </div>

                    <div class="card-body">
                        <form action="sendMessage" th:action="@{/dashboard/inbox/send-reply}" th:object="${support}"
                              method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName" class="sr-only">First Name</label>
                                        <input type="text" id="firstName"  th:field="*{firstName}" class="form-control"
                                               placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="subject" class="sr-only">Subject</label>
                                        <input type="text" id="subject"  th:field="*{subject}" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="sr-only">Message</label>
                                        <textarea type="text" id="message"  th:field="*{message}" class="form-control"
                                                  placeholder="Enter message here..."></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>