<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar-admin :: navbar-admin"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Client List</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="client : ${clientList}">
                                <td th:text="${client.firstName}"></td>
                                <td th:text="${client.lastName}"></td>
                                <td th:text="${client.role}"></td>
                                <td th:text="${client.email}"></td>
                                <td th:text="${client.address}"></td>
                                <td><a class="btn btn-warning" th:href="@{/dashboard/user-listings/remove/{id}(id=${client.id})}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <a class="btn btn-lg btn-primary btn-block" th:href="@{/dashboard/user-listings/add}">Create Admin</a>
                        <h2 class="my-0 font-weight-normal">Administrator List</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="admin : ${adminList}">
                                <td th:text="${admin.firstName}"></td>
                                <td th:text="${admin.lastName}"></td>
                                <td th:text="${admin.role}"></td>
                                <td th:text="${admin.email}"></td>
                                <td th:text="${admin.address}"></td>
                                <td><a class="btn btn-warning" th:href="@{/dashboard/user-listings/remove/{id}(id=${admin.id})}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>