<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>Credit Information Profile</h2>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Add New Card</h2>
                    </div>

                    <div class="card-body">
                        <form action="registerCard" th:action="@{/dashboard/credit/add}" th:object="${card}" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="mastercard" value="Mastercard" th:field="*{cardType}" class="form-check-input" name="cardtype">
                                        <label class="form-check-label" for="mastercard">Master Card</label>
                                    </div>
                                    <div class="form-check  form-check-inline">
                                        <input type="radio" id="visa" value="Visa" th:field="*{cardType}" class="form-check-input" name="cardtype">
                                        <label class="form-check-label" for="visa">VISA</label>
                                    </div>
                                    <div class="form-check  form-check-inline">
                                        <input type="radio" id="amex" value="Amex" th:field="*{cardType}" class="form-check-input" name="cardtype">
                                        <label class="form-check-label" for="amex">American Express</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expireDate">Expiration Date</label>
                                <input type="month" id="expireDate" th:field="*{expCode}" class="form-control" name="expCode">
                            </div>

                            <div class="form-group">
                                <label for="cardHolder">Card Holder Name</label>
                                <input type="text" id="cardHolder" th:field="*{cardName}"  class="form-control"  name="cardHolder">
                            </div>

                            <div class="form-group">
                                <label for="ccNumber">Credit Card Number</label>
                                <input type="text" id="ccNumber" th:field="*{cardNumber}" class="form-control" name="cardNumber">
                            </div>

                            <div class="form-group">
                                <label for="preference">Save as Preferred Card</label>
                                <input type="checkbox" id="preference" th:field="*{prefCard}" class="form-control" name="preference">
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add/Update</button>
                            <br/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Existing Cards</h2>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div th:each="card : $clientCards" class="col-md-6">
                                <div class="form-group">
                                    <p><b>Type:</b></p>
                                    <p th:text="${card.cardType}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p><b>Expiry:</b></p>
                                    <p th:text="${card.expCode}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p><b>Card Holder:</b></p>
                                    <p th:text="${card.cardName}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p><b>Card Number:</b></p>
                                    <p th:text="${card.cardNumber}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<h1 th:text="${client.toString()}">Dashboard</h1>-->
<div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>