<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Recent Activity</h4>
                    </div>
                    <div class="card-body">
<!--                        <h1 class="card-title pricing-card-title">Future <small class="text-muted">Development</small></h1>-->
                        <h3><small class="text-muted">Last Login Activity</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Get date</li>
                        </ul>
                        <h3><small class="text-muted">Last User Profile Update</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Get date</li>
                        </ul>
                        <h3><small class="text-muted">Inbox</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unread #</li>
                            <li>Read #</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Current Profile</h4>
                    </div>
                    <div class="card-body">
<!--                        <h3 class="card-title pricing-card-title"><small class="text-muted">Development</small></h3>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <div>
                                <li>First Name:</li>
                                <span th:text="${client.getFirstName()}"></span>
                            </div>
                            <div>
                                <li>Last Name:</li>
                                <span th:text="${client.getLastName()}"></span>
                            </div>
                            <div>
                                <li>Email:</li>
                                <span th:text="${client.getEmail()}"></span>
                            </div>
                            <div>
                                <li>Address:</li>
                                <span th:text="${client.getAddress()}"></span>
                            </div>
                            <div>
                                <li>City:</li>
                                <span th:text="${client.getCity()}"></span>
                            </div>
                            <div>
                                <li>Country:</li>
                                <span th:text="${client.getCountry()}"></span>
                            </div>
                            <div>
                                <li>Postal Code:</li>
                                <span th:text="${client.getPostalCode()}"></span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Billing & Shipping Information</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pricing-card-title"><small class="text-muted">Preferred Billing Address</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Address: </li>
                            <li>City: </li>
                            <li>Country: </li>
                        </ul>
                        <h3 class="card-title pricing-card-title"><small class="text-muted">Preferred Shipping Address</small></h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Address: </li>
                            <li>City: </li>
                            <li>Country: </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<h1 th:text="${client.toString()}">Dashboard</h1>-->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>