<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>Inbox</h2>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Message Inbox</h2>
                    </div>

                    <div class="card-body">
<!--                        I KNOW IT'S AN UGLY TABLE, FIGHT ME ABOUT IT -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Ticket #</th>
                                    <th>Date Added</th>
                                    <th>Subject</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1234</td>
                                    <td>12/12/2020</td>
                                    <td>This is subject</td>
                                    <td>
                                        <button>Read</button>
                                        <button>Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/body-scripts :: body-scripts"></div>

</body>
</html>