<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Add/Edit Profile</h2>
                    </div>

                    <div class="card-body">
                        <form action="edit" th:action="@{/dashboard/profile/add}" th:object="${profile}" method="POST">
                            <p th:if="${#fields.hasErrors('clientFirstName')}" th:errors="*{clientFirstName}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('clientLastName')}" th:errors="*{clientLastName}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="alert alert-danger"></p>
                            <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="alert alert-danger"></p>
                            <p th:if="${DeleteSuccess}" class="alert alert-danger">Fields must not be empty.</p>
                            <p th:if="${DeleteError}" class="alert alert-danger">Fields must not be empty.</p>


                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="firstName" class="sr-only">First Name</label>
                                        <input type="text" id="firstName" class="form-control"
                                               th:value="${client.getFirstName()}" th:id="clientFirstName"
                                               th:name="clientFirstName">
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="lastName" class="sr-only">Last Name</label>
                                        <!--                                            <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" >-->
                                        <input type="text" id="lastName" class="form-control"
                                               th:value="${client.getLastName()}" th:id="clientLastName"
                                               th:name="clientLastName">

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Email address</label>
                                <input type="email" id="inputEmail" class="form-control" th:value="${client.getEmail()}"
                                       th:id="email" th:name="email">
                            </div>

                            <div class="form-group">
                                <label for="clientDateOfBirth" class="sr-only">Date of Birth</label>
                                <input type="date" id="clientDateOfBirth" class="form-control" th:value="${client.getDateOfBirth()}"
                                       th:id="clientDateOfBirth" th:name="clientDateOfBirth">
                            </div>

                            <div class="form-group">
                                <label for="address" class="sr-only">Address</label>
                                <input type="text" id="address" class="form-control" th:value="${client.getAddress()}"
                                       th:id="address" th:name="address">
                            </div>

                            <div class="form-group">
                                <label for="city" class="sr-only">City</label>
                                <input type="text" id="city" class="form-control" th:value="${client.getCity()}"
                                       th:id="city" th:name="city">
                            </div>

                            <div class="form-group">
                                <label for="country" class="sr-only">Country</label>
                                <select id="country" name="country" th:id="country" th:name="country">
                                    <option value="Canada">Canada</option>
                                    <option value="United States of America">United States of America</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Postal Code</label>
                                <input type="text" id="postalCode" class="form-control" name="postalCode"
                                       th:value="${client.getPostalCode()}" th:id="postalCode" th:name="postalCode">
                            </div>

                            <div class="form-group">
                                <label for="prefBilling">Default Billing Address</label>
                                <input type="checkbox" id="prefBilling" name="prefBilling" th:field="*{prefBilling}"
                                       class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="prefShipping">Default Shipping Address</label>
                                <input type="checkbox" id="prefShipping" name="prefShipping" th:field="*{prefShipping}"
                                       class="form-control">
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add/Update</button>
                            <br/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h2 class="my-0 font-weight-normal">Existing Profiles</h2>
                    </div>
                    <div class="card-body">
                        <div th:each="clientProfile : ${clientProfiles}" class="row">
                            <div class="col-12">
                                <a class="btn btn-warning"
                                   th:href="@{/dashboard/profile/remove/{id}(id=${clientProfile.id})}">Delete</a>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="resEmail"><b>Email</b></label>
                                    <span id="resEmail" th:text="${clientProfile.email}"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="resAddress"><b>Address:</b></label>
                                    <span id="resAddress" th:text="${clientProfile.address}"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="resCity"><b>City:</b></label>
                                    <span id="resCity" th:text="${clientProfile.city}"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="resCountry"><b>Country:</b></label>
                                    <span id="resCountry" th:text="${clientProfile.country}"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="resPostalCode"><b>Postal Code:</b></label>
                                    <span id="resPostalCode" th:text="${clientProfile.postalCode}"></span>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div th:if="${clientProfile.prefBilling && clientProfile.prefShipping}"
                                     class="alert alert-secondary">
                                    <p>This is the preferred Billing & Shipping method method.</p>
                                </div>
                                <div th:if="${clientProfile.prefBilling && !clientProfile.prefShipping}"
                                     class="alert alert-secondary">
                                    <p>This is the preferred Billing method.</p>
                                </div>
                                <div th:if="${clientProfile.prefShipping && !clientProfile.prefBilling}"
                                     class="alert alert-secondary">
                                    <p>This is the preferred Shipping method.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--<h1 th:text="${client.toString()}">Dashboard</h1>-->
<div th:replace="fragments/body-scripts :: body-scripts"></div>
<!--<script>document.getElementById("country").value = ${client.getCountry()};</script>-->

</body>
</html>